.wrapper {
    width: 500px;
    height: 300px;
    background-color: #e9ecef;
    padding: 20px;
    margin: 30px auto;
    margin-top: 0px;
}

.title1 {
    width: 500px;
    height: 60px;
    background-color: white;
    color: #1b1c5e;
    font-size: 20px;
    padding-top: 5px;
    margin-left: 490px;
}

.form-group1,
.form-group2,
.form-group3 {
    margin: 10px;
    padding-left: 23px;
    padding-top: 3px;
}

.form-group1 input,
.form-group2 input {
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border: 0;
    outline: none;
}

.form-group3 .submit {
    width: 400px;
    height: 40px;
    border: 0;
    padding-left: 15px;
    outline: none;
    background-color: #1b1c5e;
    color: white;
    border-radius: 6px;
}

.form-group3 .submit:hover {
    background-color: gray;
}

.form-group3 .cancel {
    display: block;
    width: 400px;
    height: 40px;
    border: 0;
    padding-left: 15px;
    outline: none;
    background-color: #ac2437;
    color: white;
    border-radius: 6px;
    text-align: center;
    padding-top: 10px;
    margin-top: 10px;
}

.form-group3 .cancel:hover {
    background-color: darkred;
}