.main {
    height: 650px;
    font: 14px sans-serif;
    text-align: center;
}

.main h1 {
    color: #0e2a59;
    padding: 30px 0;
}

.box {
    margin: 0 auto;
    width: 500px;
    height: 300px;
    border: solid #d9d7d7;
    border-radius: 10px;
}

.box .b1,
.box .b2,
.box .b3 {
    margin: 30px auto;
    display: block;
    width: 200px;
    height: 50px;
    background-color: #0e2a59;
    border-radius: 10px;
    color: white;
    padding-top: 15px;
    font-size: 16px;
}

.box .b3 {
    background-color: #d8143f;
}

.box .b1:hover,
.box .b2:hover {
    background-color: gray;
}

.box .b3:hover {
    background-color: darkred;
}